<div  class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">&nbsp;
      <li class="nav-item ">
        <a routerLink="configuration" class="nav-link" class="btn btn-primary active" role="button" >Configurations</a>
      </li>&nbsp;
      <li class="nav-item">
        <a  routerLink="listPlots" class="nav-link" class="btn btn-primary active" role="button" >List Plots</a>
      </li>&nbsp;
      <li class="nav-item">
        <a  routerLink="addPlot" class="nav-link" class="btn btn-primary active" role="button" >Add Plot</a>
      </li>&nbsp;
      <li class="nav-item">
        <a  routerLink="monitor" class="nav-link" class="btn btn-primary active" role="button" >Irrigation Monitor</a>
      </li>&nbsp;
    </ul>
  </nav>

    <router-outlet></router-outlet>
</div>

